{% extends "layouts/layout.html" %}
{% block content %}

    {% load crispy_forms_tags %}

    <div class="container py-5">

        <h1 class="pb-2">My medication</h1>

        <div class="list-group">
          <a href="/medication/new" class="list-group-item list-group-item-action">Add New Medication</a>
          <a href="/medication_log/" class="list-group-item list-group-item-action">See taken medications</a>
          <a href="/medication_log/new" class="list-group-item list-group-item-action">Add a taken medication</a>
        </div>

        <div class="table-responsive pt-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for medication in medications %}
                    <tr>
                        <th scope="row">{{ medication.name }}</th>
                        <td>{{ medication.notes }}</td>
                        <td>
                            <a class="btn btn-primary" href="/medication/edit/{{ medication.id }}">Edit</a>
                            <a class="btn btn-danger" href="/medication/delete/{{ medication.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}