{% extends "layouts/layout.html" %}
{% block extra-head %}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css' rel='stylesheet'/>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js"></script>
    <link href="../fullcalendar/fullcalendar-custom.css" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="px-2" id="calendar"></div>

        <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {

                
                
                
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek,dayGridDay'
                },
                initialView: 'dayGridWeek',
                allDaySlot: false,
                timeZone: 'America/New_York',
                eventSources: [
                    {
                        url: 'events',
                    }
                ],

                events: [
                // my event data
                ],
                eventColor: '#7360bf',
                borderColor: '#7360bf',
                backgroundColor: "#079dfa",

            });

            calendar.render();
        });
    </script>
{% endblock %}