{% extends "layouts/layout.html" %}
{% block content %}
    <div class="container py-5">
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                <br>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <h3>Add a reminder</h3>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Remind me at</label>
                    <div class="col-sm-4">
                        <input type="time" class="form-control" name="time" value="10:00" required />
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Notes</label>
                    <div class="col-sm-4">
                        <textarea class="form-control" name="notes"></textarea>
                    </div>
                </div>
                <br>
                <select class="form-select" name="medication" multiple required aria-label="multiple select example">
                    {% for medication in medications %}
                        <option value="{{ medication.id }}">{{ medication.name }}</option>
                    {% endfor %}
                </select>
                <br>
                <button class="btn btn-primary" type="submit">Add a reminder</button>
            </div>

        </form>
    </div>

{% endblock %}