{% extends "layouts/layout.html" %}
{% block content %}

    {% load crispy_forms_tags %}

    <div class="container py-5">

        <h1 class="pb-2">My therapies</h1>

        <a href="/therapies/new" class="btn btn-primary">Add a new Therapy</a>

        <div class="table-responsive pt-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date/Time</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for therapy in therapies %}
                    <tr>
                        <th scope="row">{{ therapy.name }}</th>
                        <td>{{ therapy.datetime }}</td>
                        <td>{{ therapy.comments }}</td>
                        <td>
                            <a class="btn btn-primary" href="/therapies/edit/{{ therapy.id }}">Edit</a>
                            <a class="btn btn-danger" href="/therapies/delete/{{ therapy.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}