{% extends "layouts/layout.html" %}
{% block content %}
    <div class="container py-5">
        <form method="POST">
            {% csrf_token %}
            <div class="container">
                <br>
                <div class="form-group row">
                    <div class="col-sm-4">
                        <h3>Add Therapy Details</h3>
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Name of the therapy</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="name" required />
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Therapy Date</label>
                    <div class="col-sm-4">
                        <input type="datetime-local" class="form-control" name="datetime" required />
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Comments</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="comments"/>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Add Therapy</button>
            </div>
        </form>
    </div>

{% endblock %}