{% extends "layouts/layout.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/HomeStyles.css' %}"
/>
<script src="https://kit.fontawesome.com/f4179f58fa.js" crossorigin="anonymous"></script>

<div class="FeaturesAndFunctionalities">
  <div class="RightFeat">
    <h1>Calendar</h1>
    <p class="CalSent">
      With our calendar, be on point to your medical and therapy appointments
      and most importantly, you won't forget to take your medication.
    </p>
    {% load static %}<img src="{% static 'Calendar.jpg' %}" class="calPic" />
  </div>

  <div class="LeftFeat">
    <h1>Medication</h1>
    <p class="PillsPhrase">
      Organize all of your medication simply and easily with the help of our medication application.
      With just the click of a button, you can add new medicaiton or remove them!
    </p>
    <img src="{% static 'Pills.jpg' %}" class="medPic" />
  </div>

  <div class="RightFeat">
    <h1>Symptoms Tracker</h1>
    <p>
      Track your symptoms when ever you want and where ever you are. You'll be
      able to have a list of your symptoms that you had during the day.
    </p>
    <img src="{% static 'symptoms.jpg' %}" class="symPic" />
  </div>

  <div class="LeftFeat">
    <h1>PDF's</h1>
    <p style="right: auto">
      Create PDF files of your medications, appointments, symptomsthat you had
      during the day and send them to your health practician.
    </p>
  </div>

  <div class="RightFeat">
    <h1 class="FAQ-H1">Frequently Asked Questions</h1>
    <p>
      In case you face technical difficulties our team will always be there to
      assist you to provide a better customer service.
    </p>
    <div class="FAQ-searchbar">
      <input type="text" class="input" placeholder="How Can We Help You?">
      <div class="searchbar">
        <i class = "fas fa-search"></i>
      </div>
    </div>
  </div>

  <div class="LeftFeat">
    <h1>About Us</h1>
    <p>
      We are a young team of students, chasing our dreams. This website shows
      our passion for creating something new but also to help make peoples life
      better.
    </p>
  </div>
</div>

{% endblock content %}
