*,
*::before
*::after{
  margin:0;
  padding:0;
  box-sizing: inherit;
}

body {
  background-color: #f4ceff;
}

/*Every RightFeat element*/
div.RightFeat {
  font-family: "Raleway", sans-serif;
  border: cover;
  background-color: azure;
  font-size: 120%;
  /* border-image: 20cm;*/
}

/*Every LeftFeat element*/
div.LeftFeat {
  font-family: "Raleway", sans-serif;
  background-color: white;
  font-size: 120%;
  /*border-image: 20cm;*/
}
/*Grid Layout*/
div.FeaturesAndFunctionalities{
  display: grid;
}
div.RightFeat{

}



/*styles for texts or paragraphs*/



/*Styles for the pictures*/
.calPic {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 5%;
}

.medPic {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 5%;
}

.symPic {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 5%;
}

/*////////////////////////////////////////////////////////FAQ Section/////////////////////////////////////////////////*/
.FAQ-container{
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
}

.FAQ-container .FAQ-H1{
  text-align: center;
  border:cover;
}

.FAQ-container .FAQ-Searchbar{
  align-items: center;  
}

.FAQ-container .FAQ-Searchbar .input{
  width: 30%;
  padding: 10px 10px;
  border:none;
  border-radius: 5px;
  font-weight: bold;
}

.FAQ-container .FAQ-Searchbar .searchbar{
  margin:0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

.FAQ-container .FAQ-questions{
  width: 50%;
  height: 100vh;
  background-color: whitesmoke;
  align-items: center;
  justify-content: center;
}

.Question-Category{
  width: 100%;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem, 2px, 0.5rem rgba(0,0,0,0.1);
}

.question{
  font-size: 1.6rem;
  color:blue;
  text-decoration: none;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question i{
  padding: .5rem;
  color:blue;
}

.question .hide-please{
  display:none;
}

.Answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  color: black;
  background-color: white;
  transition: height 650ms;
}

.Answer::before{
  content:"";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  top: 50%;
  left:0px;
  transform: translatey(-50%);
}

.Answer p{
  font-size: 1.4rem;
  color: black;
  padding:2rem;
}

.Question-Category:target .Answer{
  max-height: 20rem;
}

.Question-Category:target .question .show-please{
  display: none;
}

.Question-Category:target .question .hide-please{
  display: block;
}


/*//////////////////////////////////////////FAQ Section Ends HERE/////////////////////////////////////*/




/*//////////////////////////////////////////Calendar Section Starts HERE/////////////////////////////////////*/

.fc .fc-timegrid-body {
  width: 200px;
  height: 20px;
}

.fc .fc-event-title-container{
  padding-top: 45px;
  padding-bottom: 45px;
}
