body {
  background-color: #f4ceff;
}

/*Every RightFeat element*/
div.RightFeat {
  font-family: "Raleway", sans-serif;
  border: cover;
  background-color: azure;
  font-size: 120%;
  /* border-image: 20cm;*/
}

/*Every LeftFeat element*/
div.LeftFeat {
  font-family: "Raleway", sans-serif;
  background-color: white;
  font-size: 120%;
  /*border-image: 20cm;*/
}
/*Grid Layout*/
div.FeaturesAndFunctionalities{
  display: grid;
}
div.RightFeat{

}



/*styles for texts or paragraphs*/

.FAQ-H1{
  text-align: center;

}

.FAQ-Searchbar{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}

/*Styles for the pictures*/
.calPic {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 5%;
}

.medPic {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 5%;
}

.symPic {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 5%;
}
