body {
  background-color: #f4ceff;
}

div.RightFeat {
  border: cover;
  background-color: azure;
  font-size: 120%;
  /* border-image: 20cm;*/
}

div.LeftFeat {
  background-color: white;
  font-size: 120%;
  /*border-image: 20cm;*/
}

.calPic {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  box-shadow: 5%;
}

.medPic {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  box-shadow: 5%;
}

.symPic {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  box-shadow: 5%;
}
