{% extends "layouts/layout.html" %}
{% block content %}

    {% load crispy_forms_tags %}

    <div class="container py-5">

        <h1 class="pb-2">My symptoms</h1>

        <div class="list-group">
            <a href="/symptoms/new" class="list-group-item list-group-item-action">Add New Symptoms</a>
            <a href="/symptoms/generate_pdf" class="list-group-item list-group-item-action">Generate 30 day summary</a>
        </div>

        <div class="table-responsive pt-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Symptom(s)</th>
                    <th scope="col">Medications</th>
                    <th scope="col">Date/Time</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for symptom in symptoms %}
                    <tr>
                        <th scope="row">{{ symptom.message }}</th>
                        <td>
                            {% for med in symptom.medication.all %}
                                <ul>{{ med.name }}</ul>
                            {% endfor %}
                        </td>
                        <td>{{ symptom.datetime }}</td>
                        <td>
                            <a class="btn btn-primary" href="/symptoms/edit/{{ symptom.id }}">Edit</a>
                            <a class="btn btn-danger" href="/symptoms/delete/{{ symptom.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}