<html>
<head>
  <title>Symptoms Summary</title>
</head>
<body>
  <h1>Symptoms Summary</h1>
  <h2>For patient: {{ name }}</h2>
  {% for symptom in symptoms %}
    <p>
        Date: {{ symptom.datetime }}
        <br>
        Symptoms: {{ symptom.message }}
        <br>
        Medication taken:
        {% if symptom.medication.count > 0 %}
            {% for med in symptom.medication.all %}
                <ul>{{ med.name }}</ul>
            {% endfor %}
        {% else %}
            <ul>None</ul>
        {% endif %}

    </p>
  {% endfor %}

  <h2>Other taken medications</h2>

  {% for medication_log in medication_logs %}
    <p>
        Date: {{ medication_log.datetime }}
        <br>
        Medication taken:
        {% if medication_log.medication.count > 0 %}
            {% for med in medication_log.medication.all %}
                <ul>{{ med.name }}</ul>
            {% endfor %}
        {% else %}
            <ul>None</ul>
        {% endif %}
    </p>
  {% endfor %}
</body>
</html>